{% block body %}
<div class="comment-container">
    {% for comment in comments| slice(0, 5) %}
        <div id="{{ comment.id }}" class="view-comment js-card">
        <div class="author-img">
            <div>
                <h4>{{ comment.author }}</h4>
                <p>{{ comment.dateAdded | date(('d-m-Y h:m')) }}</p>
            </div>
            <img class="profile-picture" src="{{ asset('images/user/admin/monkey-admin.jpeg') }}" alt="monkey-admin">
        </div>
        <div class="text-card comment-text">
            <p>{{ comment.content }}</p>
        </div>
    </div>
    {% else %}
        <h3 class="img-centered">pas de commentaires</h3>
    {% endfor %}
</div>
{% endblock %}



