{% extends 'base.html.twig' %}
{% block title %}Se connecter !{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="form-over-background">
        <h1 class="centered-title">Se connecter</h1>
        <div class="form-standard">
            <form action="{{ path('login') }}" method="post">
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="username">Pseudo</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                <label for="password">Password</label>
                <input type="password" id="password" name="_password"/>
                <input type="hidden" name="_target_path" value="{{ path('home') }}"/>
                <button type="submit">Se connecter</button>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </form>
        </div>
    </div>
{% endblock %}
